.admin-wrap {
  table {
    border-collapse: collapse;
    margin: 5vh auto;
    thead {
      tr {
        border-bottom: 2px solid $black;
        border-top: 2px solid $black;
      }
    }
    tbody{
      tr {
        &:nth-of-type(1){
          td {
            padding-top:20px;
          }
        }
      }
    }
    tr {
      td {
        line-height: 2;
      }
    }
  }
  .add-btn {
    color: $black;
  }
  .status-bar {
    border-bottom: 2px solid $black;
    border-top: 2px solid $black;
    display: inline-block;
    line-height: 2;
    margin-top: 5vh;
  }
}
