@font-face {
  font-family: 'Soehne';
  src:  url( '/css/fonts/soehne/soehne-web-buch.eot');
  src:  url('/css/fonts/soehne/soehne-web-buch.eot') format('embedded-opentype'),
    url('/css/fonts/soehne/soehne-web-buch.woff') format('woff'),
    url('/css/fonts/soehne/soehne-web-buch.woff2') format('woff2'),;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Soehne Mono';
  src:  url( '/css/fonts/soehne/soehne-mono-web-buch.eot');
  src:  url('/css/fonts/soehne/soehne-mono-web-buch.eot') format('embedded-opentype'),
    url('/css/fonts/soehne/soehne-mono-web-buch.woff') format('woff'),
    url('/css/fonts/soehne/soehne-mono-web-buch.woff2') format('woff2'),;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Soehne Kursiv';
  src:  url( '/css/fonts/soehne/soehne-web-buch-kursiv.eot');
  src:  url('/css/fonts/soehne/soehne-web-buch-kursiv.eot') format('embedded-opentype'),
    url('/css/fonts/soehne/soehne-web-buch-kursiv.woff') format('woff'),
    url('/css/fonts/soehne/soehne-web-buch-kursiv.woff2') format('woff2'),;
  font-weight: normal;
  font-style: normal;
}

.soehne {
  font-family: 'Soehne';
}
.soehne-mono {
  font-family: 'Soehne Mono';
}
.soehne-kursiv {
  font-family: 'Soehne Kursiv';
}